html, body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: bisque;
  border: 2px solid black;
  padding: 20px;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.nav-divs {
  display: flex;
  justify-content: space-between;
}

.nav-items li {
  padding: 10px;
}

.logo {
  width: 40px;
}

.footer {
  background-color: rgba(105, 105, 105, 0.219);
}

.header {
  border: 5px solid black;
  background-color: rgba(238, 130, 238, 0.11);
}
